<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Reveil.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Reveil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="pomodoro" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" layout="${longdate} [${threadid}] [${level}] ${logger} : ${message} ${exception:format=toString,Data}" fileName="${basedir}/logs/yaftclient_${date:format=yyyy-MM-dd}.log" />
      <target name="console" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
  <userSettings>
    <Reveil.Desktop.Properties.Settings>
      <setting name="LongBreak" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="RingPath" serializeAs="String">
        <value>pack://siteoforigin:,,,/Resources/alarm.wav</value>
      </setting>
      <setting name="ShortBreak" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Sprint" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Transparent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Border" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>True</value>
      </setting>
    </Reveil.Desktop.Properties.Settings>
    <Reveil.Properties.Settings>
      <setting name="LongBreak" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="RingPath" serializeAs="String">
        <value>pack://siteoforigin:,,,/Resources/alarm.wav</value>
      </setting>
      <setting name="ShortBreak" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Sprint" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Transparent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Border" serializeAs="String">
        <value>False</value>
      </setting>
    </Reveil.Properties.Settings>
  </userSettings>
</configuration>